# Default configuration values.
# This file will be sourced by the main OOMF script.
#
# Values here will be overriden by a file called oomf.config
# in the root directory of a project.
#
# You can also copy this file to your home directory and change values
# to override them.

# Specify location of websocketd executable, if it is not in global path
WEBSOCKETD_LOCATION=

# Specify openocd root directory, if it is not in global path (i.e. on Windows)
# This should contain openocd.exe
OPENOCD_LOCATION=

# Specify scripts based directory, if it is not in global path (i.e. on Windows)
OPENOCD_SCRIPTS_ROOT=

# Override this if openocd needs to run as superuser
# (this will usually be the case)
OPENOCD_NEEDS_SUDO=

